/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}

ul{
 list-style: none;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.btn {
  border: 0;
  padding: 5px 10px;
  
}

.blue-btn {
  background-color: #0061ff;
  color: rgba(252, 252, 252, 0.885);
}
.blue-btn:hover {
  background-color: #5492f5;
}

.accedi-top {
  background-color: transparent;
}
.accedi-top:hover {
  background-color: lightgrey;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border: 1px dashed black;
  width: 100%;
  height: 50px;
  padding: 0 20px;
}

.left-header {
  width: 50%;
  align-items: center;
  display: flex;
  border: 1px dashed black;
}

.list-header {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  height: 100%;
}

.item-list-header {
  margin: 0 15px;
}

.item-list-header > a {
  text-decoration: none;
  color: black;
}

.right-header {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* top section */

.top-section {
  background-color: #b4d0e7;
  display: flex;
}


.big-title {
  width: 100%;
  background-color: transparent;
  font-size: 3rem;
  align-content: flex-start;
  text-align: left;
  padding: 30px;
}
.jumbo-image{
  padding: 20px;
}

.div-colums {
  display: flex;
  flex-direction: row-reverse;
}

.col-small {
  width: 40%;
  background-color: transparent;
  min-height: 50px;
  border: 1px dashed black;
}

.col-big {
  width: 60%;
  background-color: transparent;
  min-height: 50px;
  border: 1px dashed black;
}

.top-small {
  width: 60%;
  
}
.top-big {
  width: 40%;
  
}
.col-blu-content{
  padding: 20px 30px;
  display: block;
  text-align: left;
}

.col-blu-content>.blue-btn{
padding: 5px 5px;
margin: 20px 0;
border: none;
}

.top-big>.top-icon{
  position: absolute;
  bottom: 70px;
  left: 10px;
}

.title-div {
  text-align: center;
}

.top-section .container{
  position: relative;
  top: 65px;
}

/* service section */

.service-section{
  margin-top: 100px;
}

.service-section h1{
  font-size: 2rem;
  padding: 20px 0 ;
}

.checked {
  color: white;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #0061ff;
}
.fa-regular{
  margin: 10px;
}
/* card */
.card-header{
  border-bottom: 2px solid black;
  text-align: center;
  padding: 0.5rem;
}

.card-content{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.card-content *{
  margin: 4px  ;
}

.card-content h5 {
 color: rgb(120, 120, 120);
}
.card-content .blue-btn{
  padding: 5px;
  margin: 20px 26px;
}
.card-content ul{
  padding: 25px 0;
}
.card-content li{
  padding: 5px 0;
}
.under-button-card{
  margin-bottom: 50px;
}

.card-content .fa-check{
  color: blue;
}

.card .div-colums{
  height: 300px;
  padding: 35px;
}
.card .col-big{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 30%;
}

.col-big .blue-btn{
  padding: 10px 40px;
  border: none;
}

.card .col-small{
  display: flex;
  flex-direction: column;
 justify-content:space-between ;
 width: 70%;
}



 
.container > .card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.card-list .card {
  flex: 1 0 30%;
  background-color: transparent;
  min-height: 300px;
  border: 2px solid black;

}

/* contact section */
.contact-section .col-small{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px 50px 0;
}
.contact-section .col-small *{
  margin: 20px;
}

.partner-btn{
  margin: 10px;
  background-color: transparent;
  border: 1px solid black;
}

/* info section */

.title-info{
  padding: 20px;
}
.info-card *{
  padding: 10px;
}

/* market section */

.title-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px;
}

.title-div *{
  margin: 20px 0;
}



.client-spam-section {
  display: flex;
  flex-direction: row;
  gap: 0;
  height: 500px;
  background-color: white;
  justify-content: space-between;
}

.client-memo {
  width: 100%;
}
.client-square {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.client-logo {
  width: 50%;
  height: 50%;
}

.designit {
  background-color: #a2d39b;
}
.asu {
  background-color: #61082b;
}
.uf {
  background-color: #0093ce;
}
.topps {
  background-color: #ff1c1c;
}
.wbr {
  background-color: #d5001f;
}
.hearts {
  background-color: #b4d0e7;
}
.lonely {
  background-color: #0d2481;
}
.clear {
  background-color: #ffd830;
}

footer {
  background-color: black;
  height: 500px;
  color: white;
}

.footer-content{
  color: white;
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.footer-blocks{
  width: 20%;
  min-height: 100px;
  border: 1px dashed white;
  padding: 30px;
  
}
.small-hr{
  width: 100px;
}

.footer-list{
  list-style: none;
}
